/*  your css code here. If applicable */
#animal-photos{
	width: 90%;
	background-color: #555657;
	margin: auto;
	height: 100vh;
}
#photo-heading{
	color: white;
	text-align: center;
	text-transform: uppercase;
}
.images{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 20px;
}

img{
	border-radius: 10px;
}

